services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: always

  web:
    build: .
    container_name: django_gunicorn
    env_file:
      - .env
    volumes:
      - .:/app
      - static_volume:/app/static_files
    depends_on:
      - db
    restart: always

  nginx:
    image: nginx:1.25.3-alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/static_files
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web
    restart: always

volumes:
  postgres_data:
  static_volume: