asgiref==3.11.0
asttokens==3.0.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
decorator==5.2.1
Django==5.2.8
django-allauth==65.13.1
executing==2.2.1
gunicorn==23.0.0
idna==3.11
ipython==9.7.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jsonpickle==4.1.1
lxml==6.0.2
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
networkx==3.6
packaging==25.0
parso==0.8.5
pexpect==4.9.0
portalocker==3.2.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.23
Pygments==2.19.2
PyJWT==2.10.1
python-decouple==3.8
pyvis==0.3.2
requests==2.32.5
sqlparse==0.5.3
stack-data==0.6.3
traitlets==5.14.3
urllib3==2.5.0
wcwidth==0.2.14
