services:
  nginx:
    build: 
      context: .
      dockerfile: ./Dockerfile
    command: nginx -g 'daemon off;'
    ports:
      - 80:80
      - 443:443
    expose:
      - "8001"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro

networks:
  web-gateway:
    external: true
